body {
    background: #04afbf;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

#saveButton, #clearButton {
    border: none;
    padding: 5px 15px;
    border-radius: 5px;
    color: #04100e;
    background-color: #dae3e3;
    transition: all 0.75s ease;
    -webkit-transition: all 0.75s ease;
    -moz-transition: all 0.75s ease;
    -ms-transition: all 0.75s ease;
    -o-transition: all 0.75 ease;
    font-weight: normal;
}

#saveButton:hover {
    background-color: #02798F;
    color: #FFCD5D;
}

#clearButton:hover {
    background-color: #02798F;
    color: #FFCD5D;
}

ul {
    text-align: center;
    margin-top: 20px;
}


li {
    list-style: none;
    padding: 25px 10px;
    color: #ffffff;
    text-transform: capitalize;
    font-weight: 600;
    border: 2px solid #025f70;
    border-radius: 5px;
    margin-bottom: 10px;
    background: #4EB9CD;
    transition: all 0.75s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}

li:hover {
    background: #76CFE0;
}

li > button {
    font-weight: normal;
    background: none;
    border: none;
    float: right;
    color: #025f70;
    font-weight: 800;
}

.delete {
    display: none;
}

input {
    border: none;
    background-color: #06abc6;
    width: 10px;
    height: 15px;
    margin: 2px;
    float: right;
}

#likeButton {
    background: #025f70;
    color: #04afbf;
    float: right;
    border: none;
    padding: 2px 2px;
    border-radius: 1px;
}